<div class="container-fluid">
	
	<!-- Navigation bar -->
	<div class="navbar navbar-default navbar-fixed-top">
		
		<!-- Brand -->
		<div class="brand">
			<h1 class="brand text-center"><a class="brand" href="#/statements">Fu-PusH Statement Finder</a></h1>
		</div>
		
		<!-- Search Bar -->
		<div class="form-group searchbar visible-xs-block">
			<input ng-model="query.text" type="search" class="form-control input-lg" placeholder="Suche Statement">
		</div>
		
		<div class="input-group input-group-lg searchbar hidden-xs">
			<span class="input-group-addon">Suche Statement</span>
			<input ng-model="query" type="search" class="form-control" placeholder="Suchbegriff oder Statement-Nummer eingeben">
		</div>
		
		<!-- Status Bar -->
		<p class="status-bar">
			{{filtered.length}} Statements<span ng-show="filterTags[0] || interviewTag.number!=0 || disciplineTag.name!='' || groupTag.name!=''">, Filter: 
			
			<span ng-show="groupTag.name!=''" class="label label-meta cursor-pointer" ng-click="clearGroupTag()">{{groupTag.name}} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
			<span ng-show="disciplineTag.name!=''" class="label label-meta cursor-pointer" ng-click="clearDisciplineTag()">{{disciplineTag.name}} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
			<span ng-show="interviewTag.number!=0" class="label label-meta cursor-pointer" ng-click="clearInterviewTag()">Interview {{interviewTag.number}} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
			<span ng-repeat="filterTag in filterTags | orderBy" class="label label-tag cursor-pointer" ng-click="clearTag(filterTag)">{{filterTag}} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span></span>
		</p>
		
		<!-- Tabs -->
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="#/statements"><span class="hidden-xs">Statements</span><span class="glyphicon glyphicon-list visible-xs-inline"></span></a></li>
			<li role="presentation"><a href="#/tags"><span class="hidden-xs">Tags</span><span class="glyphicon glyphicon-tags visible-xs-inline"></span></a></li>
			<li role="presentation"><a href="#/interviews"><span class="hidden-xs">Interviews</span><span class="glyphicon glyphicon-comment visible-xs-inline"></span></a></li>
			<li role="presentation"><a href="#/about"><span class="hidden-xs">About</span><span class="glyphicon glyphicon-info-sign visible-xs-inline"></span></a></li>
		</ul>
	</div>
	
	<!-- List of search results -->
	<div class="list-group content">
		<a dir-paginate="statement in filtered = (statements | filterByTextOrId:query | filterByGroup:groupTag.name | filterByDiscipline:disciplineTag.name | filterByInterview:interviewTag.number | filterByTag:filterTags) | itemsPerPage: 100" class="list-group-item list-group-item-linkable" ng-href="#/statement/{{statement.id}}">
			<p ng-bind="statement.text"></p>
			<p>
				<span class="label label-default">Statement <span ng-bind="statement.id"></span></span>
				<span ng-repeat="tag in statement.tags | orderBy" class="label label-tag cursor-pointer" ng-click="filterBy(tag); $event.stopPropagation(); $event.preventDefault();"><span ng-bind="tag"></span>&ensp;</span>
			</p>
		</a>
	</div>
	
	<div class="text-center">
		<dir-pagination-controls></dir-pagination-controls>
	</div>
	
	<!-- Show the following info when there are no search results -->
	<div class="container">
		<div class="jumbotron" ng-show="statements && !filtered.length">
			<p class="text-center">Es wurden keine mit Ihrer Suchanfrage übereinstimmenden Statements gefunden.</p>
		</div>
	</div>
	
	<!-- Show the following info while downloading statements -->
	<div class="container">
		<div class="jumbotron" ng-show="!statements">
			<p class="text-center">Lade Statements…</p>
		</div>
	</div>

</div>