<div class="container-fluid">
	
	<!-- Navigation bar -->
	<div class="navbar navbar-default navbar-fixed-top">
		
		<!-- Brand -->
		<div class="brand">
			<h1 class="brand text-center"><a class="brand" href="#/statements">Fu-PusH Statement Finder</a></h1>
		</div>
		
		<!-- Tabs -->
		<ul class="nav nav-tabs nav-about">
			<li role="presentation"><a href="#/statements"><span class="hidden-xs">Statements</span><span class="glyphicon glyphicon-list visible-xs-inline"></span></a></li>
			<li role="presentation"><a href="#/tags"><span class="hidden-xs">Tags</span><span class="glyphicon glyphicon-tags visible-xs-inline"></span></a></li>
			<li role="presentation"><a href="#/interviews"><span class="hidden-xs">Interviews</span><span class="glyphicon glyphicon-comment visible-xs-inline"></span></a></li>
			<li role="presentation" class="active"><a href="#/about"><span class="hidden-xs">About</span><span class="glyphicon glyphicon-info-sign visible-xs-inline"></span></a></li>
		</ul>
	</div>
</div>
	
<!-- About -->
<div class="container">
	<div class="content about">
		<div class="row">
			<div class="col-md-2 hidden-md hidden-lg">
				<img src="images/husiegel.png" class="img-responsive hu-logo center-block" alt="Responsive image">
			</div>
			
			<div class="col-md-10">
				<h1 class="page-header">DFG-Projekt: Future Publications in den Humanities</h1>
			</div>
			
			<div class="col-md-2 hidden-sm hidden-xs">
				<img src="images/husiegel.png" class="img-responsive hu-logo" alt="Responsive image">
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<h2 class="page-header">Ziele</h2>
				<p>
					Das <a href="http://www2.hu-berlin.de/fupush/" target="_blank">DFG-Projekt <em>Future Publications in den Humanities</em></a> (Fu-PusH) untersucht die Potenziale des digitalen Publizierens in den Geisteswissenschaften und erarbeitet Handlungsempfehlungen für die bedarfsorientierte Weiterentwicklung von akademischen Informationsinfrastrukturen zur Unterstützung von Publikationsprozessen vor allem an Universitätsbibliotheken und Rechenzentren.
				</p>
				<p>Zu diesem Zweck wurde eine Reihe von Experteninterviews durchgeführt. Die dabei erhobenen, aufbereiteten und anonymisierten Daten werden zur größeren Transparenz sowie zur Nachnutzung als offene Forschungsdatenpublikation im Fu-PusH Statement Finder zur Verfügung gestellt.</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<h2 class="page-header">Zeitraum</h2>
				<p>
					01. Mai 2014 bis 30. April 2016
				</p>
			</div>
			
			<div class="col-md-4">
				<h2 class="page-header">Projektleitung</h2>
				<p>
					Prof. Dr. Andreas Degkwitz, Direktor der Universitätsbibliothek der Humboldt-Universität zu Berlin
				</p>
			</div>
	
			<div class="col-md-4">
				<h2 class="page-header">Team</h2>
				<p>
					Michael Kleineberg, Ben Kaden, Martin Walk
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2 class="page-header">Experteninterviews</h2>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<h3 class="page-header">Stichprobenauswahl</h3>
				<p>Die Auswahl der befragten Personen erfolgte zielgruppenorientiert und fokussierte Expertinnen und Experten innerhalb des deutschsprachigen Raums, die professionell mit den Geisteswissenschaften, dem digitalen Publizieren bzw. mit digitalen Publikationsinfrastrukturen befasst sind. Insgesamt wurden 81 Personen kontaktiert, von denen schließlich 43 Personen in 41 Interviews befragt wurden. Die Ausschöpfungsquote liegt folglich bei über 50%.</p>
				<p>Da die Zielgruppe eine vergleichsweise hohe Affinität zum digitalen Publizieren bzw. zum Feld der Digital Humanities aufweist, dürfte sich dies auf die ermittelten Handlungs- und Einstellungsmuster auswirken. Insofern sind die Aussagen keinesfalls als repräsentativ für die gesamten Geisteswissenschaften anzusehen, sondern als spezifischer Blick aus einer Expertenperspektive.</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<h3 class="page-header">Gruppen und Fachbereiche</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<ul class="list-group">
					<li class="list-group-item list-group-item-linkable list-group-item-fupush" ng-click="gotoGroup('Geisteswissenschaften');"><span class="badge">23</span>Gruppe 1: Geisteswissenschaften</li>
					<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Ägyptologie');"><span class="badge">1</span>Ägyptologie</li>
					<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Buchwissenschaft');"><span class="badge">1</span>Buchwissenschaft</li>
					<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Digital Humanities');"><span class="badge">1</span>Digital Humanities</li>
					<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Filmwissenschaft');"><span class="badge">1</span>Filmwissenschaft</li>
					<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Geschichtswissenschaft');"><span class="badge">5</span>Geschichtswissenschaft</li>
					<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Kulturwissenschaft');"><span class="badge">1</span>Kulturwissenschaft</li>
					<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Kunstwissenschaft');"><span class="badge">1</span>Kunstwissenschaft</li>
					<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Literaturwissenschaft');"><span class="badge">5</span>Literaturwissenschaft</li>
					<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Musikwissenschaft');"><span class="badge">1</span>Musikwissenschaft</li>
					<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Sprachwissenschaft');"><span class="badge">5</span>Sprachwissenschaft</li>
					<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Wissenschaftsgeschichte');"><span class="badge">1</span>Wissenschaftsgeschichte</li>
				</ul>
			</div>
			
			<div class="col-md-6">
				<ul class="list-group">
					<li class="list-group-item list-group-item-linkable list-group-item-fupush" ng-click="gotoGroup('Infrastrukturentwicklung');"><span class="badge">20</span>Gruppe 2: Infrastrukturentwicklung</li>
					<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Bibliothek');"><span class="badge">8</span>Bibliothek</li>
					<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationsinfrastruktur');"><span class="badge">8</span>Informationsinfrastruktur</li>
					<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationswissenschaft');"><span class="badge">4</span>Informationswissenschaft</li>
				</ul>
			</div>
		</div>
		
		<div class="row">
			
			<div class="col-md-4">
				<h3 class="page-header">Sozialstatistische Angaben</h3>
				<ul class="list-inline">
					<li>Männlich <span class="badge">28</span></li>
					<li>Weiblich <span class="badge">15</span></li>
				</ul>
				<ul class="list-inline">
					<li>Prof. <span class="badge">16</span></li>
					<li>Dr. <span class="badge">13</span></li>
					<li>MA <span class="badge">14</span></li>
				</ul>
			</div>
			
			<div class="col-md-8">
				<h3 class="page-header">Institutionen</h3>
				<p>Universitäten, Fachhochschulen, Akademien, Stiftungen, Universitätsbibliotheken, Staatsbibliotheken, Verlage, Universitätsverlage, Digital Humanities-Zentren, Datenzentren, Rechenzentren</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h3 class="page-header">Erhebungsmethode</h3>
				<p>Die Datenerhebung erfolgte über qualitative und offene Leitfadeninterviews von jeweils ein bis zwei Stunden Dauer mit vornehmlich explorativem Charakter. Bei der Gesprächsführung wurden bewusst Spielräume für Aussagen gelassen, die über den engeren Scope des Interviewleitfadens (<a href="http://www2.hu-berlin.de/fupush/documents/Leitfaden1.pdf" target="_blank">Leitfaden Gruppe 1: Geisteswissenschaften</a> und <a href="http://www2.hu-berlin.de/fupush/documents/Leitfaden2.pdf" target="_blank">Leitfaden Gruppe 2: Infrastrukturentwicklung</a>) hinausgingen.</p>
				<p>In den Gesprächen wurde ein breites Themenspektrum abgedeckt, das neben technologischen Desiderata hinsichtlich digitaler Arbeits- und Publikationsverfahren auch wissenschaftskulturelle bzw. -politische Rahmenbedingungen einschloss.</p>
				<p>Zur Veranschaulichung des Vorgehens steht ein <a href="http://www2.hu-berlin.de/fupush/interview39.html" target="_blank">exemplarisches Interview (Audiodatei und Transskript)</a> mit der ausdrücklichen Genehmigung des Befragten zur Verfügung.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2 class="page-header">Datenaufbereitung</h2>
				<p>Die mittels Audioaufnahmen während der Interviews erhobenen Daten wurden als zusammenfassende Protokolle transkribiert und in Einzelaussagen bzw. Statements selektiert. Die Statements wurden paraphrasiert und anonymisiert, wobei der Charakter des mündlichen Ausdrucks weitgehend beibehalten wurde.</p>
				<p>Im Anschluss wurden die Statements anhand induktiver und iterativer Kategorienbildung einer qualitativen Inhaltsanalyse unterzogen und mit entsprechenden Tags verschlagwortet. Für eine systematische Darstellung mit näheren Erläuterungen steht der <a href="http://www2.hu-berlin.de/fupush/documents/Tag-Baum.pdf" target="_blank">Tag-Baum mit Scope Notes</a> zur Verfügung.</p>
				<p>Eine erste <a href="http://dx.doi.org/10.5281/zenodo.15432" target="_blank">Zwischenauswertung</a> liegt bereits vor.</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<h2 class="page-header">Nachnutzung</h2>
				<p>Die digitale Transformation des wissenschaftlichen Publikationswesens wird maßgeblich von der Open-Access-Bewegung geprägt. Dieser Ansatz umfasst neben dem Ziel der freien Zugänglichkeit und Nachnutzbarkeit wissenschaftlicher Publikationen unter dem Gesamtkonzept der “Open Scholarship” auch einen Anspruch an “Offenheit” für Forschungsdaten und Forschungswerkzeuge.</p>
				<p>Das Fu-PusH-Projekt versucht diesem Anspruch soweit wie möglich gerecht zu werden. Daher werden sowohl die aufbereiteten Interviewdaten als auch das im Projekt entwickelte Analyse- und Recherchewerkzeug Fu-PusH Statement Finder zur weiteren Nutzung zur Verfügung gestellt.</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<h3 class="page-header">Forschungsdaten</h3>
				<p>Der Forschungsdatensatz umfasst mehr als 3000 Einzelaussagen mit Metadaten (Statementnummer, Interviewnummer, Gruppe, Fachgebiet, Tags).</p>
				<p>Die im Fu-PusH Statement Finder bereitgestellten Daten wurden in Rücksprache mit den befragten Personen in einer anonymisierten Form publiziert. Die Anonymisierung erfolgte über eine verallgemeinernde Paraphrasierung. Der sachliche Gehalt der jeweiligen Aussagen wurde dabei soweit wie möglich beibehalten.</p>
				<p>Einige Aussagen wurden auf Rückfrage aus datenschutzrechtlichen Gründen vor der Publikation aus dem Datenbestand entfernt.</p>
				<p>Der <a href="http://dx.doi.org/10.5281/zenodo.35217" target="_blank">Forschungsdatensatz des Fu-PusH Statement Finders</a> ist für die Langzeitarchivierung und Nachnutzung über das Forschungsdatenrepositorium Zenodo verfügbar.</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<h3 class="page-header">Werkzeug</h3>
				<p>Für die Veröffentlichung der Interviewaussagen wurde der Fu-PusH Statement Finder als Recherche- und Analysewerkzeug entwickelt.</p>
				<p>Der Fu-PusH Statement Finder ermöglicht es, die in einem csv-Dateiformat vorliegenden Interviewdaten als eine navigierbare Website zu präsentieren, die eine kombinierte Filterfunktion mittels Metadaten anbietet. Jeder Einzelaussage wurde eine eindeutig referenzierbare URL zugewiesen. Die jeweils angewandten Suchfilter können über URL-Query-Strings adressiert werden.</p>
				<p>Das Werkzeug ist als Web-Front-End-Anwendung umgesetzt, die auf HTML, CSS und Javascript basiert. Die Interviewaussagen sind als statische Daten im JSON-Format abgelegt, die mit den Metadaten sowie Tags als gesonderte JSON-Daten verknüpft werden.</p>
				<p>Der <a href="https://github.com/Fu-PusH/statement-finder" target="_blank">Programm-Code des Fu-PusH Statement Finders</a> ist für die Langzeitarchivierung und Nachnutzung über das Forschungsdatenrepositorium <a href="http://dx.doi.org/10.5281/zenodo.35233" target="_blank">Zenodo</a> und über <a href="https://github.com/Fu-PusH/statement-finder" target="_blank">GitHub</a> verfügbar</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<h3 class="page-header">Lizenzierung</h3>
				<p>Der Forschungsdatensatz mit den Interviewaussagen und Metadaten ist ein Werk der Universitätsbibliothek der Humboldt-Universität zu Berlin und ist lizenziert unter einer <a href="http://creativecommons.org/licenses/by/3.0/" target="_blanc">Creative Commons Namensnennung 3.0 International Lizenz</a>.</p>
				<p>Die Software des Werkzeugs steht unter der <a href="https://opensource.org/licenses/MIT" target="_blank">MIT-License</a> (Copyright (c) 2015 University Library of Humboldt-Universität zu Berlin).</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<h3 class="page-header">Zitiervorschlag</h3>
				<p>Kleineberg, Michael; Kaden, Ben &amp; Walk, Martin (2015). Fu-PusH Statement Finder 1.0. Zenodo. <a href="http://dx.doi.org/10.5281/zenodo.35233" target="_blank">10.5281/zenodo.35233</a></p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<h2 class="page-header">Feedback</h2>
				<p>Das Fu-PusH-Team freut sich über Rückmeldungen und weiterführende inhaltliche Diskussionen zum Statement Finder und den publizierten Forschungsdaten. </p>
				<p>Sie können diesbezüglich gerne mit uns <a href="https://www.ub.hu-berlin.de/de/ueber-uns/projekte/fu-push-1/dfg-projekt-future-publications-in-den-humanities-fu-push" target="_blank">Kontakt aufnehmen</a> oder einen Kommentar im <a href="https://blogs.hu-berlin.de/fupush/2015/12/14/fu-push-statement-finder/" target="_blank">Fu-PusH-Weblog</a> hinterlassen.</p>
			</div>
		</div>
	</div>
</div>
