<div class="container-fluid">
	<!-- Navigation bar -->
	<div class="navbar navbar-default navbar-fixed-top">
		
		<div class="brand">
			<h1 class="brand text-center"><a class="brand" href="#/statements">Fu-PusH Statement Finder</a></h1>
		</div>
		
		<!-- Search Bar -->
		<div class="form-group searchbar visible-xs-block">
			<input ng-model="query.tagName" type="search" class="form-control input-lg" placeholder="Suche Tag">
		</div>
		
		<div class="input-group input-group-lg searchbar hidden-xs">
			<span class="input-group-addon">Suche Tag</span>
			<input ng-model="query.tagName" type="search" class="form-control" placeholder="Suchbegriff eingeben">
		</div>
		
		<!-- Status Bar -->
		<p class="status-bar">
			&nbsp;<span ng-show="filterTags[0] || interviewTag.number!=0 || disciplineTag.name!='' || groupTag.name!=''">Aktive Filter:
			
			<span ng-show="groupTag.name!=''" class="label label-meta cursor-pointer" ng-click="clearGroupTag()">{{groupTag.name}} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
			<span ng-show="disciplineTag.name!=''" class="label label-meta cursor-pointer" ng-click="clearDisciplineTag()">{{disciplineTag.name}} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
			<span ng-show="interviewTag.number!=0" class="label label-meta cursor-pointer" ng-click="clearInterviewTag()">Interview {{interviewTag.number}} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
			<span ng-repeat="filterTag in filterTags | orderBy" class="label label-tag cursor-pointer" ng-click="clearTag(filterTag)">{{filterTag}} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span></span>
		</p>
		
		<!-- Tabs -->
		<ul class="nav nav-tabs">
			<li role="presentation"><a href="#/statements"><span class="hidden-xs">Statements</span><span class="glyphicon glyphicon-list visible-xs-inline"></span></a></li>
			<li role="presentation" class="active"><a href="#/tags"><span class="hidden-xs">Tags</span><span class="glyphicon glyphicon-tags visible-xs-inline"></span></a></li>
			<li role="presentation"><a href="#/interviews"><span class="hidden-xs">Interviews</span><span class="glyphicon glyphicon-comment visible-xs-inline"></span></a></li>
			<li role="presentation"><a href="#/about"><span class="hidden-xs">About</span><span class="glyphicon glyphicon-info-sign visible-xs-inline"></span></a></li>
		</ul>

	</div>
	
	<!-- List of Tags -->
	<div class="content">
		<div class="order-by">
			<uib-tabset>
				<uib-tab heading="Systematisch"><div class="tag-list" ng-include="'app/tag-list/tags-systematic.html'"></div></uib-tab>
				<uib-tab heading="Alphabetisch"><div class="tag-list" ng-include="'app/tag-list/tags-alphabetical.html'"></div></uib-tab>
				<uib-tab heading="Häufigkeit"><div class="tag-list" ng-include="'app/tag-list/tags-by-count.html'"></div></uib-tab>
			</uib-tabset>
		</div>
	</div>

</div>