
	<div class="row">
		<div class="col-lg-3 col-md-6">
		<ul class="list-group">
			<li class="list-group-item list-group-item-linkable list-group-item-info" ng-click="gotoGroup('Infrastrukturentwicklung');"><span class="badge">20</span>Gruppe 2: Infrastrukturentwicklung</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Bibliothek');"><span class="badge">8</span>Bibliothek</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationsinfrastruktur');"><span class="badge">8</span>Informationsinfrastruktur</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationswissenschaft');"><span class="badge">4</span>Informationswissenschaft</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Bibliothek');"><span class="badge">8</span>Bibliothek</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationsinfrastruktur');"><span class="badge">8</span>Informationsinfrastruktur</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationswissenschaft');"><span class="badge">4</span>Informationswissenschaft</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Bibliothek');"><span class="badge">8</span>Bibliothek</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationsinfrastruktur');"><span class="badge">8</span>Informationsinfrastruktur</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationswissenschaft');"><span class="badge">4</span>Informationswissenschaft</li>
		</ul>
	</div>
	
	<div class="col-lg-3 col-md-6">
		<ul class="list-group">
			<li class="list-group-item list-group-item-linkable list-group-item-info" ng-click="gotoGroup('Infrastrukturentwicklung');"><span class="badge">20</span>Gruppe 2: Infrastrukturentwicklung</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Bibliothek');"><span class="badge">8</span>Bibliothek</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationsinfrastruktur');"><span class="badge">8</span>Informationsinfrastruktur</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationswissenschaft');"><span class="badge">4</span>Informationswissenschaft</li>
		</ul>
	</div>
	
	<div class="clearfix visible-md-block"></div>
	
	<div class="col-lg-3 col-md-6">
		<ul class="list-group">
			<li class="list-group-item list-group-item-linkable list-group-item-info" ng-click="gotoGroup('Infrastrukturentwicklung');"><span class="badge">20</span>Gruppe 2: Infrastrukturentwicklung</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Bibliothek');"><span class="badge">8</span>Bibliothek</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationsinfrastruktur');"><span class="badge">8</span>Informationsinfrastruktur</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationswissenschaft');"><span class="badge">4</span>Informationswissenschaft</li>
		</ul>
	</div>
	
	<div class="col-lg-3 col-md-6">
		<ul class="list-group">
			<li class="list-group-item list-group-item-linkable list-group-item-info" ng-click="gotoGroup('Infrastrukturentwicklung');"><span class="badge">20</span>Gruppe 2: Infrastrukturentwicklung</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Bibliothek');"><span class="badge">8</span>Bibliothek</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationsinfrastruktur');"><span class="badge">8</span>Informationsinfrastruktur</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationswissenschaft');"><span class="badge">4</span>Informationswissenschaft</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Bibliothek');"><span class="badge">8</span>Bibliothek</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationsinfrastruktur');"><span class="badge">8</span>Informationsinfrastruktur</li>
			<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationswissenschaft');"><span class="badge">4</span>Informationswissenschaft</li>
		</ul>
	</div>

</div>

<div class="row">

<div class="col-lg-3 col-md-6">
	<ul class="list-group">
		<li class="list-group-item list-group-item-linkable list-group-item-info" ng-click="gotoGroup('Infrastrukturentwicklung');"><span class="badge">20</span>Gruppe 2: Infrastrukturentwicklung</li>
		<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Bibliothek');"><span class="badge">8</span>Bibliothek</li>
		<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationsinfrastruktur');"><span class="badge">8</span>Informationsinfrastruktur</li>
		<li class="list-group-item list-group-item-linkable" ng-click="gotoDiscipline('Informationswissenschaft');"><span class="badge">4</span>Informationswissenschaft</li>
	</ul>
</div>
</div>